body {
    display: flex;
    flex-direction: column;
    max-width: 980px;
    justify-content: center;
    margin: auto;
    background-color: #0C0F14;
    color: white;
    font-family: 'Trebuchet MS', sans-serif;
}

.page-header {
    background-color: #050709;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.page-header__logo {
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 1px;
}

.page-header__navigation-menu-list {
    display: flex;
    list-style-type: none;
    gap: 25px;
    margin: 5px;
}

.page-header__navigation-menu-list-item a {
    text-decoration: none;
    color: inherit;
}

.page-header__navigation-menu-list-item.active a {
    background-color: #CEE400;
    padding: 15px;
    border-radius: 5px;
    color: black;
}

.main-title {
    text-align: center;
    text-transform: uppercase;
    font-size: 86px;
}

.hiring-plans {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.hiring-plans__plan {
    display: flex;
    flex-direction: column;
    flex: 310px;
    background-color: #20262B;
    padding: 16px;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.hiring-plans__plan-name {
    margin: 0;
}

.hiring-plans__plan hr {
    border: 1px solid #CEE400;
    width: 100%;
}

.hiring-plans__plan-features {
    padding: 0;
    list-style-position: inside;
    flex: 1;
}

.hiring-plans__plan-features li::marker {
    color: #CEE400;
}

.hiring-plans__plan-name {
    text-transform: uppercase;
    letter-spacing: 1px; 
}

.hiring-plans__plan-features abbr {
    text-decoration: none;
}

.hiring-plans__subscription-link {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 10px;
    box-sizing: border-box;
    background-color: #CEE400;
    border-radius: 5px;
    text-align: center;
    transition: 0.25s all;
}

.hiring-plans__subscription-link:hover {
    outline: 2px solid #CEE400;
    background-color: #20262B;
    color: white;
}

.hiring-plans__plan-price {
    font-size: 48px;
}